* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.left-container {
  width: 40vw;
}
.left-container img {
  width: 100%;
  height: auto;
}
.left-container p {
  text-align: center;
  margin-top: -40px;
  color: white;
}

.right-container {
  width: 60vw;
}